//parent des fragments
.fragmentBigLimit {
  background-color: black;
  width: 90%;
  height: 350px;

  margin-left: auto;
  margin-right: auto;

  margin-top: 40px;
  margin-bottom: 40px;

  position: relative;

  max-width: 1000px;
  min-width: 350px;

  box-shadow: 0px 0px 3px 2px #afabab;

  &.first {
    background: linear-gradient(
      194deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 121, 39, 0.8155637254901961) 55%,
      rgba(0, 212, 255, 1) 100%
    );
  }

  &.second {
    background: linear-gradient(
      189deg,
      rgba(180, 58, 85, 1) 0%,
      rgba(98, 0, 36, 0.9472163865546218) 26%,
      rgba(85, 170, 157, 1) 100%
    );
  }

  &.third {
    background: linear-gradient(
      31deg,
      rgba(180, 58, 58, 1) 0%,
      rgba(98, 94, 0, 0.8239670868347339) 26%,
      rgba(105, 104, 76, 1) 49%,
      rgba(86, 117, 166, 1) 76%,
      rgba(85, 170, 157, 1) 100%
    );
  }
  overflow: hidden; //pas de dépassement des block decendants
  position: relative; //obligatoire pour donné un cadre aux blocks decendants qui sont en positionnement absolue

  &:hover,
  &:focus {
    //passage de la souris
    .rectTop {
      //on dégage les blocks decendant pour révélé le gradient de couleur en background
      background-color: black; //petite touche de couleur lors de la transition
      transform: translate(-50%, -100%); //vers le haut
    }
    .rectBottom {
      background-color: black;
      transform: translate(-50%, 200%); //vers le bas
    }
    h1 {
      letter-spacing: 50px; //on rajoute 10px d'éspacement lors du hover
      color: rgba(255, 255, 255, 0.6);
    }

    cursor: pointer; //curseur en forme pointer lors du hover
  }

  h1 {
    //text dans les blocks
    font-size: 150px; //seulement quand media screen width > 1000px
    letter-spacing: 30px; //espacement des lettres
    text-shadow: 0px 13px 15px #2e2d2d;

    color: rgb(224, 223, 223);

    position: absolute;

    user-select: none; //text non selectionable
    -webkit-user-select: none; //text non selectionable safari
    z-index: 1; //par dessus les block battants

    //centrer --
    left: 50%;
    bottom: 50%;
    transform: translate(-44%, 55%); //44% en x semble bien avec cette police
    //centrer fin--

    transition: 1s cubic-bezier(1, -0.14, 0.74, 1.03); //pour l'espacement lors du hover du parent
  }

  //si media screen < 1000px
  @media screen and (max-width: 1000px) {
    h1 {
      font-size: 15vmin; //font size évolue avec la width de la page
    }
  }

  @media screen and (max-width: 500px) {
    margin: 0;
    width: 100%;
  }
}

.fragmentRotated {
  height: 50%; //deux fragements, chacun 50% de la hauteur du parent
  width: 100%;
  background-color: $color-1; //même couleur que le baground du body
  left: 50%; //centre avec translateX(-50%)
  position: absolute;
  top: 0;
  transition: 1s cubic-bezier(1, -0.14, 0.74, 1.03);
  &.rectTop {
    transform: translate(-50%, -3%);
  }
  &.rectBottom {
    transform: translate(-50%, 105%);
  }
}
